@{
    string[] cars = { "Volvo", "BMW", "Ford", "Mazda" };

}

<ul>
    @foreach(var item in cars)
            {
                <li>
                    @item
                </li>
            }
</ul>

