@{
    ViewData["Title"] = "Home Page";
    ViewData["blah"] = "Hell";

    string[] cars = { "Volvo", "BMW", "Ford", "Mazda" };

}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["blah"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    @foreach(var item in cars)
            {
                <li>@item</li>
            }
</ul>
<h3>
    @ViewData["tuesday"]
</h3>
<h3>@ViewBag.Lunch</h3>
